<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_6.1.xsd">

    <menuitem name="menu-svh-app" title="SVH" icon="fa fa-home" icon-background="black"/>                               <!--Главное меню СВХ -->

    <menuitem name="registration-list" title="Registration"
              parent="menu-svh-app" action="action-registration-list"/>                                                 <!--Страница регистрации товаров -->

    <menuitem name="reports-list" title="Reports" parent="menu-svh-app" action="action-reports-list" />
    <menuitem name="charts-list" title="Charts" parent="menu-svh-app" action="action-charts-list" />

    <menuitem name="references-list" parent="menu-svh-app" title="Reference Books"/>

    <menuitem name="tariffs-list" title="Tariffs"
              parent="references-list" action="action-tariff-list"/>                                                       <!--Страница список тарифов -->

    <menuitem name="all-countries-list" title="All Countries"
              parent="references-list"  action="action-all-countries" />

    <menuitem name="services-list" title="Services" parent="references-list" action="action-services" />

    <action-view name="action-tariff-list" title="Tariffs"
                 model="com.axelor.apps.svh.db.Tariff">
        <view type="grid" name="tariff-grid"/>
        <view type="form" name="tariff-form"/>
    </action-view>


    <action-view name="action-registration-list" title="Registration"
                 model="com.axelor.apps.svh.db.Registration">
        <view type="grid" name="registration-grid"/>
        <view type="form" name="registration-form"/>
    </action-view>
                                                                                                                        <!--Страница графика -->


    <action-view name="action-all-countries" title="All Countries"
         model="com.axelor.apps.svh.db.AllCountries">
        <view type="grid" name="all-countries-grid" />
        <view type="form" name="all-countries-form" />
    </action-view>


    <action-view name="action-services" title="Services" model="com.axelor.apps.svh.db.Services">
        <view type="grid" name="services-grid" />
        <view type="form" name="services-form" />
    </action-view>


    <action-view name="action-reports-list" title="Reports" model="com.axelor.apps.svh.db.Reports">
        <view type="grid" name="reports-grid" />
        <view type="form" name="reports-form" />
    </action-view>

    <action-view name="action-charts-list" title="Charts" model="com.axelor.apps.svh.db.Registration">
        <view type="form" name="svh.revenue.dashboard" />
    </action-view>

</object-views>