<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_6.1.xsd">

  <!-- Корневое меню модуля Electronic Queue -->
  <menuitem name="electronic-queue-root" parent="base-root" title="Electronic Queue"
    icon="fa-truck" icon-background="green" order="500"/>

  <!-- Подменю: Vehicles Зарегистрированные автомобили водителей -->
  <menuitem name="electronic-queue-menu-vehicles" parent="electronic-queue-root"
    title="Vehicles" action="vehicles-menu" order="100"/>

  <!-- Подменю: Bookings бронирований (очередей) -->
  <menuitem name="electronic-queue-menu-bookings" parent="electronic-queue-root"
    title="Bookings" action="bookings-menu" order="200"/>
  <!-- Подменю: Border Points Пункты пропуска на границе -->
  <menuitem name="electronic-queue-menu-border-points" parent="electronic-queue-root"
    title="Borders Points" action="border-points-menu" order="200"/>
  <!-- Подменю: Queue Slots Временные слоты для записи в очередь -->
  <menuitem name="electronic-queue-menu-queue-slots" parent="electronic-queue-root"
    title="Queue Slots" action="queue-slots-menu" order="200"/>
  <!-- Подменю: Notifications Лог уведомлений, отправляемых водителям -->
  <menuitem name="electronic-queue-menu-notifications" parent="electronic-queue-root"
    title="Notifications" action="notifications-menu" order="200"/>

  <!-- Action-view для Vehicles -->
  <action-view name="vehicles-menu" title="Vehicles"
    model="com.axelor.apps.eq.db.Vehicles">
    <view type="grid" name="vehicles-grid"/>
    <view type="form" name="vehicles-form"/>
  </action-view>

  <!-- Action-view для Bookings -->
  <action-view name="bookings-menu" title="Bookings"
    model="com.axelor.apps.eq.db.Bookings">
    <view type="grid" name="bookings-grid"/>
    <view type="form" name="bookings-form"/>
  </action-view>

  <!-- Action-view для Border Points -->
  <action-view name="border-points-menu" title="Border Points"
    model="com.axelor.apps.eq.db.BorderPoints">
    <view type="grid" name="border-points-grid"/>
    <view type="form" name="border-points-form"/>
  </action-view>

  <!-- Action-view для Queue Slots -->
  <action-view name="queue-slots-menu" title="Queue Slots"
    model="com.axelor.apps.eq.db.QueueSlots">
    <view type="grid" name="queue-slots-grid"/>
    <view type="form" name="queue-slots-form"/>
  </action-view>

  <!-- Action-view для Notifications -->
  <action-view name="notifications-menu" title="Notifications"
    model="com.axelor.apps.eq.db.Notifications">
    <view type="grid" name="notifications-grid"/>
    <view type="form" name="notifications-form"/>
  </action-view>

</object-views>
